@tailwind base;
@tailwind components;
@tailwind utilities;

.littleForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countryText {
    border: 1px solid black;
}
